{% extends "base.twig" %}

{% block title %}Sign-up | PuzzleMania{% endblock %}

{% block content %}
    <h1>Sign up here!</h1>
    <form data-cy="sign-up" action="{{ formAction }}" method="POST">

        <label> Email </label>
        <input data-cy="sign-up__email" type="text" name="email" placeholder="Enter your email"
               value="{{ formData.email }}">
        {% if formErrors['email'] %}
            <p data-cy="sign-up__wrongEmail">{{ formErrors['email'] }}</p>
        {% endif %}

        <label> Password </label>
        <input data-cy="sign-up__password" type="password" name="password" placeholder="Enter your password">
        <label> Repeat Password </label>
        <input data-cy="sign-up__repeatPassword" type="password" name="repeatPassword"
               placeholder="Repeat your password">
        {% if formErrors['password'] %}
            <p data-cy="sign-up__wrongPassword">{{ formErrors['password'] }}</p>
        {% endif %}

        <input data-cy="sign-up__btn" type="submit" value="Sign-up">
    </form>
{% endblock %}
