{% extends "base.twig" %}

{% block title %}Game | PuzzleMania{% endblock %}

{% block content %}
    <h1>Game</h1>
    <h2>{{ data.team }}</h2>
    <p><b>Instructions:</b><br>aaaaaaa</p>
    <button class="primary-button">Start</button>
{% endblock %}